.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
common/build
handheld/src/release/java/net/nqlab/btmw/handheld/model/ServerInfo.java
handheld/src/debug/java/net/nqlab/btmw/handheld/model/ServerInfo.java
